nav {
    background-color: darkcyan;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px gainsboro;
    position: relative;
    width: 100%;
}

h1 {
    font-size: 33px;
}

.banner {
    color: white;
}

.cart-layout {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 3rem;
}
