.SingleProduct {
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #739393;
    color: white;
    margin-top: 2px;
}

.imgDiv {
    width: 360px;
    height: 360px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 8px;
}

.productImg {
    width: 100%;
}

.productInfo {
    padding: 3px;
}

.cartInfo {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    padding-block: 8px;
}

.button {
    padding: 20px;
    width:20px;
    height: 20px;
    border-radius: 30%;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
